.container {
  padding: 0 2rem;
  background: black;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 0.8em;
  letter-spacing: 1px;
  text-align: center;
}

.logoContainer {
  position: relative;
}

.logo {
  position: absolute;
  right: 0;
  animation: colors 2s infinite linear alternate-reverse;
}

.logoOriginal {
  position: relative;
  right: 0;
  z-index: 10;
  filter: drop-shadow(2px 2px 50px #fff);
  opacity: 0.9;
}

@keyframes colors {
  0% {
    filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(287deg)
      brightness(95%) contrast(118%);
    transform: translateX(3px);
  }
  25% {
    filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(287deg)
      brightness(0%) contrast(118%);
  }
  50% {
    filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(160deg)
      brightness(100%) contrast(118%);
  transform: translateX(-3px);
  }
  100% {
    filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(160deg)
      brightness(0%) contrast(118%);

  }
}

.magenta {
  filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(287deg)
    brightness(95%) contrast(118%);
  transform: translateX(3px);
}

.cyan {
  position: absolute;
  filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(160deg)
    brightness(100%) contrast(118%);
  transform: translateX(-3px);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
